@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.range-green {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 999px;
  outline: none;
  cursor: pointer;
}

/* Chrome / Edge / Safari */
.range-green::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 999px;
  background: #16a34a; /* ✅ vert */
  border: 2px solid white;
  box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.2);
}

/* Firefox */
.range-green::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 999px;
  background: #16a34a; /* ✅ vert */
  border: 2px solid white;
  box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.2);
}
